<ion-header>
  <custom-header [title]="'Camera'"></custom-header>
</ion-header>

<ion-content padding>
  <h3 [hidden]="photo">Please, select image!</h3>
  <img [src]="photo.nativeURL" *ngIf="photo">
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="onCamera()">
        <ion-icon name="camera"></ion-icon> Select image
      </button>
      <button ion-button icon-left (click)="onUpload()" [disabled]="!photo">
          <ion-icon name="cloud-upload"></ion-icon> Upload Photo
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
